# flyctl launch added from .gitignore
**/HELP.md
**/target
!**/.mvn/wrapper/maven-wrapper.jar
!**/**/src/main/**
!**/**/src/test/**

### STS ###
**/.apt_generated
**/.classpath
**/.factorypath
**/.project
**/.settings
**/.springBeans
**/.sts4-cache

### IntelliJ IDEA ###
**/.idea
**/*.iws
**/*.iml
**/*.ipr

### NetBeans ###
nbproject/private
nbbuild
dist
nbdist
.nb-gradle
**/build

### VS Code ###
**/.vscode

# flyctl launch added from .idea/.gitignore
# Default ignored files
.idea/shelf
.idea/workspace.xml
# Datasource local storage ignored files
.idea/dataSources
.idea/dataSources.local.xml
# Editor-based HTTP Client requests
.idea/httpRequests
fly.toml
