name: SonarCloud
on:
  push:
    branches:
      - main

env:
  FLY_API_TOKEN: ${{ secrets.FLY_API_TOKEN }}

jobs:
  build:
    uses: ./.github/workflows/reusable-build.yml
    secrets: inherit

  docker:
    # docker-repository:  https://hub.docker.com/r/raouf25/spring-boot-efficient-search-api
    name: Build & push in Docker Hub
    needs: build
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v6
      - name: Set up QEMU
        uses: docker/setup-qemu-action@v3
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3
      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}
      - name: Build and push
        uses: docker/build-push-action@v6
        with:
          context: .
          push: true
          tags: |
            raouf25/spring-boot-efficient-search-api:1.0.0  
            raouf25/spring-boot-efficient-search-api:latest

  deploy:
    environment:
      name: dev-environment
      url: https://spring-boot-efficient-search-api.fly.dev/api/cars
    name: Deploy app
    needs: docker
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: superfly/flyctl-actions/setup-flyctl@master
      - run: flyctl deploy --remote-only
